:root {
  --dark-bg: #104c4c;
  --dark-cont: rgba(0, 0, 0, 0.251);
  --dark-font-color: #fff;
  --light-bg: #9cdcdc;
  --light-cont: rgba(255, 255, 255, 0.31);
  --light-font-color: #595858;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 62, 5%;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--light-bg);
}

.theme-box {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
}

.sun,
.moon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  cursor: pointer;
}

.sun:hover,
.moon:hover {
  -webkit-box-shadow: 2px 2px 5px rgb(235, 235, 235);
          box-shadow: 2px 2px 5px rgb(235, 235, 235);
}

.container {
  max-width: 400px;
  min-width: 300px;
  height: 573px;
  padding: 1.5rem 2.5rem;
  background-color: var(--light-cont);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px rgb(235, 235, 235);
          box-shadow: 5px 5px 10px rgb(235, 235, 235);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--light-font-color);
}
.form__title {
  font-size: 2rem;
  margin-bottom: 1.8rem;
  text-align: center;
}
.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.2rem;
}
.form__label {
  margin-bottom: 5px;
  font-size: 1rem;
}
.form__input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  color: #000;
  border: none;
  border-radius: 8px;
}
.form__input:focus {
  outline: 2px solid aqua;
}
.form__checkbox {
  height: 47px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__checkbox-input {
  height: 13px;
  width: 13px;
  margin-right: 10px;
  border: none;
}
.form__checkbox-input:focus {
  outline: 2px solid aqua;
}
.form__checkbox-label {
  font-size: 0.8rem;
}
.form__buttons {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.form__btn {
  min-width: 110px;
  padding: 0.7rem 1.1rem;
  font-size: 0.9rem;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background-color 0.3s, box-shadow 0.2s;
  transition: background-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.form__btn:hover {
  background-color: #33aeae;
  -webkit-box-shadow: 3px 3px 7px rgb(235, 235, 235);
          box-shadow: 3px 3px 7px rgb(235, 235, 235);
}

.info-box {
  position: absolute;
  height: 200px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--light-bg);
  border: 2px solid #fff;
  border-radius: 8px;
}

.info-text {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.hidden {
  display: none;
}

.error-text {
  margin-top: 3px;
  font-size: 0.8rem;
  color: rgb(219, 85, 85);
}

.hidden-text {
  visibility: hidden;
}

.checkbox-error {
  outline: 3px solid red;
}

.wrapper.adaptive {
  background-color: var(--dark-bg);
  color: var(--dark-font-color);
}

.container.adaptive {
  background-color: var(--dark-cont);
}

.info-box.adaptive {
  background-color: var(--dark-bg);
}

.form.adaptive {
  color: var(--dark-font-color);
}/*# sourceMappingURL=style.css.map */